#  --- ALIAS ---
alias gcloud="~/google-cloud-sdk/bin/gcloud"
alias v=nvim
alias vim=nvim
alias nvimhome="nvim ~/dotfiles/nvim"
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
alias metabase="java -jar metabase.jar"
alias sql='nvim -c "DBUI"'
alias leetcode='nvim leetcode.nvim'
alias lg=lazygit
alias fk=thefuck

alias rcd=cd
alias rcat=cat
alias rls=ls

alias cd=z
alias cat=bat
alias ls=eza

alias venv="source .venv/bin/activate"
alias zshrc="nvim ~/.zshrc"
alias src="source ~/.zshrc"

## Switch between intel and arm64
alias intel="arch -x86_64 zsh"
alias arm64="arch -arm64 zsh"

## Quick access
alias p-prefect="ping -c 3 prefect.holistics.dev"
alias ssh-prefect="ssh root@internal-prefect2"
alias start-yabai="yabai --start-service && skhd --start-service"

## Holistics
alias hl="tmuxinator start holistics"
alias holistics="tmuxinator start holistics"
alias kill-holistics=kill-hl
alias hl-docs="web_search hl-docs"

## FZF
alias fp="fzf --preview 'bat --style=numbers --color=always --line-range :500 {}'" # use fp to do a fzf search and preview the files
alias vf='nvim $(fp)'                                                              # search for a file with fzf and open it in vim

## dbt
alias dbt-docs='dbt docs generate && dbt docs serve'
